.sts4-cache/
/target
.classpath
.project
.settings/

.idea/
.mvn/.mvn.iml
API/API.iml
API/src/main/main1.iml
API/src/test/test1.iml
FrontEnd/FrontEnd.iml
Library/MatcherLibrary.iml
Library/src/main/main.iml
Library/src/test/test.iml
PropertyMatcher.iml

FrontEnd/node_modules/
FrontEnd/src/main/frontend/node/


bin/

target/
!.mvn/wrapper/maven-wrapper.jar

